/* D:\Studia\DYPLOMÓWKA\mechanics-nexus\mechanics\src\components\profiles\UserProfilePage.css */

/* Styl dla kontenera strony profilu */
.profile-page-container {
    width: 100%;
    max-width: 1200px; /* Dostosuj maksymalną szerokość według potrzeb */
    margin: 0 auto; /* Center content horizontally */
    display: flex;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
  }
  
  /* Styl dla sekcji nagłówka */
  #HEADER {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  /* Styl dla sekcji profilu */
  #PROFILE {
    color: #000;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto; /* Center content horizontally */
  }
  
  /* Styl dla sekcji messengera */
  #MESSENGER {
    color: #000;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto; /* Center content horizontally */
  }
  
  /* Dodatkowy styl dla kontenera strony profilu */
  #PAGE-PROFILE {
    display: flex;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; /* Ustaw wysokość na 100% widoku, aby zajmować cały ekran */
  }
  
  /* Inne style, jeśli potrzebujesz */
  