/* UserStats.css */
.stats {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 18px;
    color: #888;
  }
  
  .skill-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .skill-label {
    width: 100px;
    font-weight: 600;
  }
  
  .bar {
    flex-grow: 1;
    height: 10px;
    background: #e1e1e1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
  }
  
  /* Customize the following styles for each skill */
  .pvp .progress {
    background-color: #ff7676;
  }
  
  .farming .progress {
    background-color: #53e69d;
  }
  
  victories .progress {
    background-color: #ffe685;
  }
  
  supporting .progress {
    background-color: #76b1ff;
  }
  
  .fa-circle-thin {
    position: absolute;
    right: 20px;
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
  }
  
  .fa-circle-thin span {
    font-size: 10px;
    color: #aaa;
    margin-left: 10px;
  }
  