#NAGLOWEK {
  background-color: #888;
  padding: 10px;
}

#MENU {
  width: 8%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#GLOBALMESSANGER {
  width: 25%;
  float: right;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

#POST {
  width: 65%;
  float: left;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

#STOPKA {
  clear: both;
  width: 100%;
  background-color: #888;
  padding: 10px;
  box-sizing: border-box;
}
