html, body {
  margin: 0;
  padding: 0;
  background-color: transparent; /* Przezroczyste tło */
  min-height: 100vh;
  font-family: "Roboto";
}

body {
  background-image: url('../assets/image/background.jpg'); /* Ścieżka do obrazu w folderze "public" */
  background-size: cover; /* Dopasowanie obrazu do rozmiaru ekranu, bez deformowania i bez ucinania */
  background-repeat: no-repeat; /* Wyłączenie powtarzania obrazu */
  background-attachment: fixed; /* Ustawienie obrazu jako stałe tło */
  background-position: center center; /* Wyśrodkowanie obrazu na stronie */
  overflow: hidden; /* Wyłączenie skrolowania na całej stronie */
}

/* Definicja kolorów */
:root {
  --primary-bg-color: rgba(0, 0, 0, 0.5); /* Przezroczysty kolor tła */
  --text-color: #FFFFFF; /* Kolor tekstu na tle głównym */
  --accent-color: #AF0A7F; /* Kolor akcentu lub przycisków */
}

/* Style elementów */
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  /* Dodaj pozostałe style tutaj */
}

/* Styl przycisków */
.button {
  background-color: var(--accent-color);
  color: var(--text-color);
  /* Dodaj inne style przycisków tutaj */
}
